{% extends "layout.html" %}

  {% block title %}
    Reset Password - LMS
  {% endblock %}

  {% block content %}
    <div class="main-page">
      <div class="container mt-5 glass-effect">
        <h1>Reset Password</h1>
        <br>
        <form method="POST" action="{{ url_for('resetPassword') }}">
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3" id="passwordField" style="display: none;">
            <label for="passwd" class="form-label">New Password:</label>
            <input type="password" class="form-control" id="passwd" name="passwd" required>
          </div>
          <button type="submit" class="btn btn-outline-light">Reset Password</button>
        </form>
      </div>
    </div>
  {% endblock %}

